<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bkhn.et.storemanege">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name="bkhn.et.storemanage.MainApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="bkhn.et.storemanage.ui.splash.view.SplashActivity"
            android:noHistory="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="bkhn.et.storemanage.ui.login.view.LoginActivity"
            android:noHistory="true"
            android:theme="@style/AppTheme.Login" />
        <activity
            android:name="bkhn.et.storemanage.ui.main.view.MainActivity"
            android:label="@string/main_label" />
        <activity android:name="bkhn.et.storemanage.ui.bill.view.BillActivity" />
        <activity
            android:name="bkhn.et.storemanage.ui.scan.view.ScannerActivity"
            android:label="@string/scanner_label" />
        <activity
            android:name="bkhn.et.storemanage.ui.staffmanage.view.StaffManageActivity"
            android:label="@string/staff_manage_label" />
        <activity android:name="bkhn.et.storemanage.ui.staffinfo.view.StaffInfoActivity" />
        <activity android:name="bkhn.et.storemanage.ui.reportmanage.view.ReportActivity" />
        <activity android:name="bkhn.et.storemanage.ui.reportinfo.view.ReportInfoActivity"></activity>
    </application>

</manifest>